head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Maze Solver
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Pacifico|VT323")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
  link(rel="stylesheet", href="css/main.min.css")