extends layouts/main

block content
    header.header
        h1.logo Maze Solver
        h2.description A maze generator/solver.
    main
        .maze#maze
            .tracker
        .footer
            p
                span Built with ❤️ and JavaScript by
                a.github-button(href="https://github.com/mohouyizme", data-size="large", aria-label="Follow @mohouyizme on GitHub") @mohouyizme
            br
            a.github-button(href="https://github.com/mohouyizme/maze_solver/fork", data-icon="octicon-repo-forked", aria-label="Fork mohouyizme/maze_solver on GitHub") Fork
            br
            a.github-button(href="https://github.com/mohouyizme/maze_solver", data-icon="octicon-star", aria-label="Star mohouyizme/maze_solver on GitHub") Star